<div>
    <h1>Carrito de compras</h1>
    <a href="/cart/views/{{user.cart}}" id="cart"></a>

    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Precio</th>
                <th scope="col">Fotografías</th>
                <th scope="col">Cantidad</th>
            </tr>
        </thead>
        <tbody>
            {{#each cartProducts.products}}
            {{!-- dentro de cartProducts, recorro products, y luego entro a cada prop instanciando
            this.product.propiedad --}}
            <tr>
                <td>{{this.product.title}}</td>
                <td>{{this.product.description}}</td>
                <td>{{this.product.price}}</td>
                <td><img src="/products/{{this.product.thumbnails}}" alt="img" style="width: 7rem;"
                        class="rounded-pill"></td>
                <td>{{this.quantity}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <div>
        <button id="button" class="btn btn-success">Comprar</button>
    </div>
</div>

<script>
    const button = document.getElementById("button");
    button.addEventListener("click", async () => {
        const res = await fetch("/api/payment/create-checkout-session");
        const data = await res.json();
        window.location.href = data.url //carga la url de la api de pago (url esta dentro del json data)

    })
</script>