<div>
    <h1>Carrito de compras</h1>
    <a href="/cart/views/{{user.cart}}" id="cart"></a>

    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Precio</th>
                <th scope="col">Fotografías</th>
                <th scope="col">Cantidad</th>
            </tr>
        </thead>
        <tbody>
            {{#each cartProducts.products}}
            {{!-- dentro de cartProducts, recorro products, y luego entro a cada prop instanciando
            this.product.propiedad --}}
            <tr>
                <td>{{this.product.title}}</td>
                <td>{{this.product.description}}</td>
                <td>{{this.product.price}}</td>
                <td><img src="/products/{{this.product.thumbnails}}" alt="img" style="width: 7rem;"
                        class="rounded-pill"></td>
                <td>{{this.quantity}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <div>
        {{#if (igual user.length 0)}}
        <button id="button" disabled="true" class="btn btn-success">Comprar Stripe</button>
        {{else}}
        <button id="button" class="btn btn-success">Comprar</button>
        {{/if}}
    </div>

     <div>
        {{#if (igual user.length 0)}}
        <button id="buttonMP" disabled="true" class="btn btn-success">Comprar Mercado Pago</button>
        {{else}}
        <button id="buttonMP" class="btn btn-success">Comprar Mercado Pago</button>
        {{/if}}
    </div>
</div>

<script>

    const button = document.getElementById("button");
    const buttonMP = document.getElementById("buttonMP");

    button.addEventListener("click", async () => {
        const res = await fetch("/api/payment/create-checkout-session");
        const data = await res.json();
        if(data.status == "sinstock") data
        else window.location.href = data.url
        console.log(data)
        //carga la url de la api de pago (url esta dentro del json data)
    })

    buttonMP.addEventListener("click", async () => {
        const res = await fetch("/api/payment/mercado-pago/create-session", {method: "post"});
        const data = await res.json();
        console.log("data:", data);
        window.location.href = data.init_point;
    })


</script>